page {
    background-color: #f5f5f5;
    width: 100vw;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.content_body {
    height: calc(100vh - 100upx);
    width: calc(100vw);
    background: #f5f5f5;
}

.big_Text {
    font-size: 68upx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 95upx;

}

.noraml_Text {
    font-size: 56upx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 78upx;
}

.hint_Text {
    font-size: 40upx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    line-height: 56upx;
}

.row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column_between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mT5 {
    margin-top: 5upx;
}

.mT10 {
    margin-top: 10upx;
}

.mT15 {
    margin-top: 15upx;
}

.mT20 {
    margin-top: 20upx;
}


.mR5 {
    margin-right: 5upx;
}

.mR10 {
    margin-right: 10upx;
}

.mR15 {
    margin-right: 15upx;
}

.mR20 {
    margin-right: 20upx;
}


.mL5 {
    margin-left: 5upx;
}

.mL10 {
    margin-left: 10upx;
}

.mL15 {
    margin-left: 15upx;
}

.mL20 {
    margin-left: 20upx;
}


.mB5 {
    margin-bottom: 5upx;
}

.mB10 {
    margin-bottom: 10upx;
}

.mB15 {
    margin-bottom: 15upx;
}

.mB20 {
    margin-bottom: 20upx;
}

.mH5 {
    margin: 0 5upx;
}

.mH10 {
    margin: 0 10upx;
}

.mH15 {
    margin: 0 15upx;
}

.mH20 {
    margin: 0 20upx;
}

.mV5 {
    margin: 5upx 0;
}

.mV10 {
    margin: 10upx 0;
}

.mV15 {
    margin: 15upx 0;
}

.mV20 {
    margin: 20upx 0;
}

.m5 {
    margin: 5upx;
}

.m10 {
    margin: 10upx;
}

.m15 {
    margin: 15upx;
}

.m20 {
    margin: 20upx;
}


.pT5 {
    padding-top: 5upx;
}

.pT10 {
    padding-top: 10upx;
}

.pT15 {
    padding-top: 15upx;
}

.pT20 {
    padding-top: 20upx;
}


.pR5 {
    padding-right: 5upx;
}

.pR10 {
    padding-right: 10upx;
}

.pR15 {
    padding-right: 15upx;
}

.pR20 {
    padding-right: 20upx;
}


.pL5 {
    padding-left: 5upx;
}

.pL10 {
    padding-left: 10upx;
}

.pL15 {
    padding-left: 15upx;
}

.pL20 {
    padding-left: 20upx;
}


.pB5 {
    padding-bottom: 5upx;
}

.pB10 {
    padding-bottom: 10upx;
}

.pB15 {
    padding-bottom: 15upx;
}

.pB20 {
    padding-bottom: 20upx;
}

.pH5 {
    padding: 0 5upx;
}

.pH10 {
    padding: 0 10upx;
}

.pH15 {
    padding: 0 15upx;
}

.pH20 {
    padding: 0 20upx;
}

.pV5 {
    padding: 5upx 0;
}

.pV10 {
    padding: 10upx 0;
}

.pV15 {
    padding: 15upx 0;
}

.pV20 {
    padding: 20upx 0;
}

.p5 {
    padding: 5upx;
}

.p10 {
    padding: 10upx;
}

.p15 {
    padding: 15upx;
}

.p20 {
    padding: 20upx;
}